body {
  font-family: "bebas_neuebold";
}
#a_tab, #b_tab {
  margin-left: 40px;
  margin-right: 40px;
}
.centertext  {
  text-align: center;
}
#description {
  padding-left: 40px;
  padding-right: 40px;
}
#description p {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
}
.hover:hover {
  cursor: pointer;
}
.active {
  display: block;
}
.inactive {
  display: none;
}
li {
  font-size: 18px;
}
span.gender {
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    border-radius: 6px;
    color: #444}
span.gender:hover{
    background-color: #bbb;
    color: #000;
    cursor: pointer;
}
span.selected {
    background-color: #b7daff;
    border: 1px solid #ddd;
    color:#000;}
.ticks {
  font: 10px sans-serif;
}
.track, .track-inset, .track-overlay {
  stroke-linecap: round;
}
.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}
.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}
.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}
.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}
.subunit-label {
  font-weight: 200;
  text-anchor: middle;
}
path.state{
    fill: #E8E8EE;
    stroke: #888;
    stroke-width: 1.5px;
}
path.lineGraph {
    fill: none;
    stroke-width: 2;
    stroke-opacity: 0.5;
}
